<template>
     <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1" class="top">
               <el-form ref="AddCompany" :model="company" :rules="rules"  label-width="120px" size="medium" label-position="left">
                    <el-form-item label="公司名称" required prop="name">
                         <el-input v-model="company.name" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="公司地址">
                         <el-input v-model="company.address"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" required prop="serve_start">
                         <el-date-picker
                              v-model="company.serve_start"
                              value-format="yyyy-MM-dd"
                              type="date"
                              placeholder="请选择结束时间"
                         />
                    </el-form-item>
                    <el-form-item label="结束时间" prop="serve_end">
                         <el-date-picker
                              v-model="company.serve_end"
                              value-format="yyyy-MM-dd"
                              type="date"
                              placeholder="请选择结束时间"
                              :disabled="isTimeUnlimited"
                         />
                         <el-checkbox 
                         class="left"
                         v-model="isTimeUnlimited" 
                         label="无限时"
                         @change="changeUnlimit"
                         ></el-checkbox>
                    </el-form-item>
                    <el-form-item label="联系人">
                         <el-input v-model="company.contact" class="short"></el-input>
                    </el-form-item>
                     <el-form-item label="联系方式">
                         <el-input v-model="company.mobile" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱" prop="mail">
                         <el-input v-model="company.mail" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="公司官网" prop="web">
                         <el-input v-model="company.web" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="公司简介">
                         <el-input type="textarea" v-model="company.intro"></el-input>
                    </el-form-item>
                    <el-form-item label="主要服务内容">
                         <el-input type="textarea" v-model="company.serve"></el-input>
                    </el-form-item>
                    
               
                    <el-form-item size="medium" label-width="0px" class="addForm">
                         <el-button type="primary" @click="save" v-permission="'company:add:save'"> 保 存 </el-button>
                         <el-button type="primary" @click="cancel">取 消</el-button>
                    </el-form-item>
               </el-form>
          </el-col>  
     </el-row>
</template>
<script>
import { addCompany } from '@/api/company/company';
import { validEmail, validURL } from '@/utils/validate';

import moment from 'moment';
export default {
     data: function () {
          const serveEndValidator = (rule, value, callback) => {
               const isTimeUnlimited = this.$data.isTimeUnlimited
               const start = this.$data.company.serve_start
               if (!isTimeUnlimited) {
                    if (!value) {
                         callback(new Error("结束时间不能为空"))
                         return
                    }
                    if (moment(value).isBefore(start)) {
                         callback(new Error("结束服务时间必须大于开始服务时间"))
                         return
                    }
               }
               
               return callback()
          };
          const mailValidator = (rule, value, callback) => {
               if (value && (!validEmail(value))) {
                    callback(new Error("邮箱格式不正确"))
               } else {
                    callback()
               }
          }
          const urlValidator = (rule, value, callback) => {
               if (value && (!validURL(value))) {
                    callback(new Error("官网不正确"))
               } else {
                    callback()
               }
          }
          const startValidator = (rule, value, callback) => {
               const isTimeUnlimited = this.$data.isTimeUnlimited
               const end = this.$data.company.serve_end
               if ((!isTimeUnlimited) && end && moment(value).isAfter(end)) {
                    callback("开始时间不能小于结束时间")
               } else {
                    callback()
               }
          }

          return {
             company: {
                  name: '',
                  address: '',
                  serve_start: '',
                  serve_end: '',
                  contact: '',
                  mobile: '',
                  mail: '',
                  web: '',
                  intro: '',
                  serve: ''
             },
             start: '',
             end: '',
             isTimeUnlimited: false,
             rules: {
                name: [
                    { required: true, message: '公司名称不能为空', trigger: 'blur' } 
               ],
               serve_start: [
                    { required: true, message: '服务开始时间不能为空', trigger: 'blur' },
                    { trigger: 'blur', validator: startValidator } 
               ],
               serve_end: [
                    { trigger: 'blur', validator: serveEndValidator }
               ],
               mail: [
                    { trigger: 'blur', validator: mailValidator }
               ],
               web: [
                    { trigger: 'blur', validator: urlValidator }
               ]
             }
          };
     },
     methods: {
          changeUnlimit() {
               if (this.$data.isTimeUnlimited) {
                    this.$data.company.serve_end = ""
                    this.$refs.AddCompany.validate("serve_end")
               }
          },
          save() {
               this.$refs.AddCompany.validate((valid) => {
                    if (!valid) {
                         return false
                    }
                    let data = this.$data.company
                    let me = this
                    addCompany(data)
                         .then(resp => {
                              me.msgSuccess("公司添加成功")
                              me.$router.back()
                         })
               })
               
          },
          cancel() {
               this.$router.back()
          }
     }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}
.left {
     margin-left: 25px;
}

.short {
  width: 240px;   
}
</style>