<template>
      <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1" style="margin-stop:50px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" inline label-width="80px">
                    <el-form-item>
                         <el-button 
                         type="primary"
                         v-permission="'company:add'"
                         @click="$router.push({name: 'AddCompany'});"
                         >新建公司</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1">
               <!-- 中间列表 -->
               <el-table
                    :data="getCompanys"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="name"
                         label="公司名称"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="serve_status"
                         label="服务状态" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="start"
                         label="服务开始时间" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="end"
                         label="服务结束时间" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="time"
                         label="状态">
                         <template slot-scope="scope">
                             <el-switch
                                   v-permission="'company:status'"
                                   v-model="scope.row.status"
                                   active-text="正常"
                                   :active-value="1"
                                   :inactive-value="2"
                                   inactive-text="禁用"
                                   @change="handleStatusChange(scope.row.id)"/>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button 
                              type="primary"
                              v-permission="'company:edit'"
                              @click="$router.push({name: 'EditCompany', query: {id: scope.row.id}});"
                              >编辑</el-button>
                              <el-button 
                              type="primary"
                              v-permission="'company:employee'"
                              @click="$router.push({name: 'ListEmployee', query: {company_id: scope.row.id}});"
                              >员工管理</el-button>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="1" class="page">
               <!-- 底部分页 -->
               <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :current-page="page.current"
                    :total="page.total"
                     @current-change="changePage">
               </el-pagination>
          </el-col>
     </el-row>
</template>
<script>
import { listCompany, toggleStatus } from '@/api/company/company';
import moment from 'moment';

export default {
  name: 'Codes',
  data() {
       return {
          page: {
               total: 0,
               current: 1,
               pages: 1,
               limit: 10
          },
          companys: []
       };
  },
  mounted: function() {
     this.getCompany(this.$data.current, this.$data.limit)
  },
  methods: {
       getCompany(current, limit) {
          listCompany(current, limit)
          .then(resp => {
               this.$data.page = resp.data.page
               this.$data.companys = resp.data.list
          })
       },
       handleStatusChange(id) {
          toggleStatus(id)
          .then(resp => {
            this.msgSuccess("公司状态变更成功")
            this.getCompany(this.$data.page.current, this.$data.page.limit)
          })
       },
       changePage(current) {
            console.log(current)
            this.getCompany(current, this.$data.page.limit)
       }
  },
  computed: {
       getCompanys: function() {
            return this.$data.companys.map(function(val){
                 let serveEnd = "无限期"
                 if (val.serve_end) {
                      serveEnd = val.serve_end
                 }
                 let serveStatus = "已禁用"
                 if (val.status == 1) {
                      serveStatus = "服务中"
                      if (val.serve_start && moment().isBefore(val.serve_start)) {
                           serveStatus = "未开始"
                      } else if (val.serve_end && val.serve_start) {
                           serveStatus = moment().isAfter(val.serve_end) ? "已结束" : "服务中"
                      }
                 }
               return {
                    id: val.id,
                    name: val.name,
                    start: val.serve_start,
                    end: serveEnd,
                    serve_status: serveStatus,
                    status: val.status 
               };
            });
       }
  }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}
.page {
     margin-top: 25px;
}
</style>