<template>
     <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1" class="top">
               <el-form ref="addEmployee"  label-width="120px" :model="user" size="medium" :rules="rules" label-position="left">
                    <el-form-item label="公司名称" required prop="company_id">
                         <el-select 
                              v-model="user.company_id" 
                              filterable 
                              remote
                              :remote-method="queryCompany"
                              placeholder="请选择" 
                              class="short">
                              <el-option
                              v-for="item in companys"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"/>
                         </el-select>
                    </el-form-item>
                    <el-form-item label="帐号" prop="account">
                         <el-input v-model="user.account" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="角色">
                         <el-select 
                              v-model="user.role_id" 
                              filterable 
                              remote
                              :remote-method="queryRole"
                              multiple 
                              placeholder="请选择">
                              <el-option
                              v-for="item in roles"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"/>
                         </el-select>
                    </el-form-item>
                    <el-form-item label="姓名" required prop="name">
                         <el-input v-model="user.name" class="short"></el-input>
                    </el-form-item>
                   <el-form-item label="联系方式">
                         <el-input v-model="user.mobile" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="个人邮箱" required prop="mail">
                         <el-input v-model="user.mail" class="short"></el-input>
                    </el-form-item>
                   
                    <el-form-item size="medium" label-width="0px" class="addForm">
                         <el-button type="primary" @click="save">提 交</el-button>
                         <el-button type="primary" @click="cancel">取 消</el-button>
                    </el-form-item>
               </el-form>
          </el-col>  
     </el-row>
</template>
<script>
import { searchCompany, infoCompany } from '@/api/company/company';
import { addEmployee } from '@/api/company/employee';
import { searchRoles } from '@/api/company_system/role';
import { validEmail } from '@/utils/validate';
import axios from "axios";

export default {
     data: function () {
          const validateAccount = (rule, value, callback) => {
               const reg = /^[A-Za-z][A-Za-z0-9]+$/
               if (!reg.test(value)) {
               callback(new Error('帐号格式不正确'))
               } else {
               callback()
               }
          }
          const validateMail = (rule, value, callback) => {
               if (!validEmail(value)) {
                   callback(new Error("邮箱格式不正确")) 
               } else {
                    callback()
               }
          };
          return {
               user: {
                    company_id: "",
                    account: "",
                    role_id: [],
                    name: "",
                    mobile: "",
                    mail: ""
               },
               rules: {
                    name: [
                       { required: true, message: '用户名不能为空', trigger: 'blur' } 
                    ],
                    account: [
                         { required: true, message: '帐户不能为空', trigger: 'blur' },
                         { trigger: 'blur', validator: validateAccount }
                    ],
                    company_id: [
                       { required: true, message: '公司不能为空', trigger: 'blur' } 
                    ],
                    mail: [
                       { required: true, message: '邮箱不能为空', trigger: 'blur' },
                       { trigger: 'blur', validator: validateMail }
                    ]
               },
               roles: [],
               companys: [],
               keywords: "",
               role_limit: 10,
               company_limit: 10,
               init_company_id: 0
          };
     },
     mounted: function() {
          let id = this.$route.query.company_id
          if (!id) {
               id = 0
          }
          id = parseInt(id)
          this.$data.company_id = id
          if (id > 0) {
               this.initSpecCompanyAndRoles(id)
          } else {
               this.initCompanyAndRoles()
          }
     },
     methods: {
          initSpecCompanyAndRoles(companyId) {
               let me  = this
              axios.all([infoCompany(companyId), searchRoles("", 10)]) 
               .then(axios.spread((companyResp, roleResp) => {
                    let company = [{
                         id: companyId,
                         name: companyResp.data.info.name
                    }]
                    
                    me.$data.companys = company
                    me.$data.user.company_id = companyId

                    let roles = []
                    for (const key in roleResp.data.list) {
                         let r = roleResp.data.list[key]
                         roles.push({
                              id: r.id,
                              name: r.name
                         })
                    }
                    me.$data.roles = roles
               }))
          },
          queryRole(query) {
               searchRoles(query, 10)
                    .then(resp => {
                       let roles = []
                         for (const key in resp.data.list) {
                              let r = resp.data.list[key]
                              roles.push({
                                   id: r.id,
                                   name: r.name
                              })
                         }
                         this.$data.roles = roles
                    })
          },
          queryCompany(query) {
               searchCompany(query, 10)
                    .then(resp => {
                         let company = []
                         for (const key in resp.data.list) {
                              let cp = resp.data.list[key]
                              company.push({
                                   id: cp.id,
                                   name: cp.name,
                              })
                         }
                         this.$data.companys = company
                    })
          },
          initCompanyAndRoles() {
               let me  = this
              axios.all([searchCompany("", 10), searchRoles("", 10)]) 
               .then(axios.spread((companyResp, roleResp) => {
                    let company = []
                    for (const key in companyResp.data.list) {
                         let cp = companyResp.data.list[key]
                         company.push({
                              id: cp.id,
                              name: cp.name,
                         })
                    }
                    me.companys = company

                    let roles = []
                    for (const key in roleResp.data.list) {
                         let r = roleResp.data.list[key]
                         roles.push({
                              id: r.id,
                              name: r.name
                         })
                    }
                    me.$data.roles = roles
               }))
          },
          save() {
               this.$refs.addEmployee.validate((valid) => {
                    if (!valid) {
                         return false;
                    }

                    let data = this.$data.user
                    let me = this
                    addEmployee(data)
                         .then(resp => {
                              me.msgSuccess("帐号添加成功")
                              me.$router.back()
                         }) 
               })
               
          },
          cancel() {
               this.$router.back()
          }
     }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}
.left {
     margin-left: 25px;
}

.short {
  width: 240px;   
}
</style>