<template>
     <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1" class="top">
               <el-form ref="EditEmployee"  label-width="120px" :model="user" :rules="rules" size="medium" label-position="left">
                    <el-form-item label="公司名称" required>
                         <el-tag type="success" class="f14">{{ company_name }}</el-tag>
                    </el-form-item>
                    <el-form-item label="帐号" required prop="account">
                         <el-tag type="success" class="f14">{{ user.account }}</el-tag>
                    </el-form-item>
                    <el-form-item label="角色">
                         <el-select 
                              v-model="user.role_id" 
                              filterable 
                              remote
                              :remote-method="queryRole"
                              multiple 
                              placeholder="请选择">
                              <el-option
                              v-for="item in roles"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"/>
                         </el-select>
                    </el-form-item>
                    <el-form-item label="姓名" required prop="name">
                         <el-input v-model="user.name" class="short"></el-input>
                    </el-form-item>
                   <el-form-item label="联系方式">
                         <el-input v-model="user.mobile" class="short"></el-input>
                    </el-form-item>
                    <el-form-item label="个人邮箱" required prop="mail">
                         <el-input v-model="user.mail" class="short"></el-input>
                    </el-form-item>
                   
                    <el-form-item size="medium" label-width="0px" class="addForm">
                         <el-button type="primary" @click="save">提 交</el-button>
                         <el-button type="primary" @click="cancel">取 消</el-button>
                    </el-form-item>
               </el-form>
          </el-col>  
     </el-row>
</template>
<script>
import { infoCompany, searchCompany } from '@/api/company/company';
import { infoEmployee, editEmployee } from '@/api/company/employee';
import { searchRoles } from '@/api/company_system/role';
import { validEmail } from '@/utils/validate';
import axios from "axios";

export default {
     data: function () {
          const validateAccount = (rule, value, callback) => {
               const reg = /^[A-Za-z][A-Za-z0-9]+$/
               if (!reg.test(value)) {
               callback(new Error('帐号格式不正确'))
               } else {
               callback()
               }
          }
          const validateMail = (rule, value, callback) => {
               if (!validEmail(value)) {
                   callback(new Error("邮箱格式不正确")) 
               } else {
                    callback()
               }
          };
          return {
               id: 0,
               company_name: "",
               user: {
                    account: "",
                    role_id: [],
                    name: "",
                    mobile: "",
                    mail: ""
               },
               selectRoles: [],
               roles: [],
               companys: [],
               keywords: "",
               role_limit: 10,
               company_limit: 10,
               rules: {
                    name: [
                       { required: true, message: '用户名不能为空', trigger: 'blur' } 
                    ],
                    account: [
                         { required: true, message: '帐户不能为空', trigger: 'blur' },
                         { trigger: 'blur', validator: validateAccount }
                    ],
                    company_id: [
                       { required: true, message: '公司不能为空', trigger: 'blur' } 
                    ],
                    mail: [
                       { required: true, message: '邮箱不能为空', trigger: 'blur' },
                       { trigger: 'blur', validator: validateMail }
                    ]
               },
          };
     },
     mounted: function() {
          const id = this.$route.query.id
          if (id <= 0) {
               this.$router.back()
          }
          this.$data.id = id
          this.initCompanyAndRoles()
     },
     methods: {
          queryRole(query) {
               searchRoles(query, 10)
                    .then(resp => {
                       let roles = []
                         for (const key in resp.data.list) {
                              let r = resp.data.list[key]
                              roles.push({
                                   id: r.id,
                                   name: r.name
                              })
                         }
                         this.$data.roles = roles
                    })
          },
          queryCompany(query) {
               searchCompany(query, 10)
                    .then(resp => {
                         let company = []
                         for (const key in resp.data.list) {
                              let cp = resp.data.list[key]
                              company.push({
                                   id: cp.id,
                                   name: cp.name,
                              })
                         }
                         this.$data.companys = company
                    })
          },
          initCompanyAndRoles() {
               let me  = this
              axios.all([infoEmployee(this.$data.id), searchRoles("", 10)]) 
               .then(axios.spread((employeeResp, roleResp) => {
                    const info = employeeResp.data.info
                    me.$data.company_name = info.company_name
                    me.$data.user.account = info.username
                    me.$data.user.name = info.name
                    me.$data.user.mobile = info.mobile
                    me.$data.user.mail = info.email
                    let selectRoleId = info.roles.map(function(val){
                         return val.id;
                    });
                    me.$data.user.role_id = selectRoleId

                    let roles = []
                    for (const key in roleResp.data.items) {
                         let r = roleResp.data.items[key]
                         roles.push({
                              id: r.id,
                              name: r.name
                         })
                    }
                    me.$data.roles = roles
                    for (const key in info.roles) {
                         let item = info.roles[key]
                         let index = roles.findIndex(function(val) {
                              return val.id == item.id
                         })
                         if (index == -1) {
                             me.$data.roles.push(item) 
                         }
                    }
               }))
          },
          save() {
               this.$refs.EditEmployee.validate((valid) => {
                    if (!valid) {
                         return false;   
                    }
                    let data = this.$data.user
                    let me = this
                    editEmployee(this.$data.id, data)
                         .then(resp => {
                              me.msgSuccess("帐号更新成功")
                              me.$router.back()
                         })
               })
               
          },
          cancel() {
               this.$router.back()
          }
     }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}
.left {
     margin-left: 25px;
}

.short {
  width: 240px;   
}

.f14 {
     font-size: 14px;
}
</style>