<template>
      <el-row :gutter="10" class="top">
          <el-col :span="22" :offset="1" style="margin-stop:50px" class="query">
               <!-- 头部搜索  -->
               <el-form ref="form" inline label-width="80px">
                    <el-form-item label="选择公司">
                         <el-select 
                              v-model="company_id" 
                              filterable 
                              remote
                              :remote-method="queryCompany" 
                              placeholder="请选择">
                              <el-option
                              v-for="item in companys"
                              :key="item.id"
                              :label="item.name"
                              :value="item.id"/>
                         </el-select>
                    </el-form-item>
                    <el-form-item><el-button type="primary" @click="searchUser">搜 索</el-button></el-form-item>
                    <el-form-item>
                         <el-button 
                         type="primary"
                         @click="$router.push({name: 'AddEmployee', query: {company_id: company_id}});"
                         >新建员工帐号</el-button>
                    </el-form-item>
               </el-form>
          </el-col>
          <el-col :span="22" :offset="1">
               <!-- 中间列表 -->
               <el-table
                    :data="getUserList"
                    border
                    stripe
                    style="width: 100%">
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="company_name"
                         label="公司名称"
                         width="180px"/>
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="account"
                         label="帐号" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="name"
                         label="姓名" />
                    <el-table-column
                         header-align="center"
                         align="center"
                         prop="status"
                         label="状态">
                         <template slot-scope="scope">
                             <el-switch
                                   v-model="scope.row.status"
                                   active-text="正常"
                                   :active-value="1"
                                   :inactive-value="2"
                                   inactive-text="禁用"
                                   @change="handleStatusChange(scope.row.id)"/>
                         </template>
                    </el-table-column>
                    <el-table-column
                         header-align="center"
                         align="center"
                         label="操作" >
                         <template slot-scope="scope">
                              <el-button 
                              style="margin-right:5px;font-weight:bold;"
                              size="mini"
                              type="primary"
                              @click="$router.push({name: 'EditEmployee', query: {id: scope.row.id}});"
                              >编辑</el-button>
                              <el-popconfirm
                                   title="你确定要重置该帐号密码吗？"
                                   @confirm="resetPwd(scope.row.id)"
                                   >
                                   <template #reference>
                                   <el-button  size="mini" type="danger">重置密码</el-button>
                                   </template>
                              </el-popconfirm>
                         </template>
                    </el-table-column>
               </el-table>
          </el-col>
          <el-col :span="22" :offset="1" class="page">
               <!-- 底部分页 -->
               <el-pagination
                    background
                    small
                    layout="prev, pager, next"
                    :page-count="page.pages"
                    :current-page="page.current"
                    :total="page.total"
                     @current-change="changePage">
               </el-pagination>
          </el-col>
     </el-row>
</template>
<script>
import { listEmployee, toggleStatus, resetPassword } from '@/api/company/employee'
import { infoCompany, listCompany, searchCompany } from '@/api/company/company'
import axios from "axios"

export default {
  data() {
       return {
          query: {
               companys: []
          },
          company_id: 0,
          page: {
               total: 0,
               current: 1,
               pages: 1,
               limit: 10
          },
          users: [],
          companys: [],
          keywords: ""
       };
  },
  mounted: function() {
     let id = this.$route.query.company_id
     if (!id) {
          id = 0
     }
     id = parseInt(id)
     this.$data.company_id = id
     //获取公司信息
     if (id > 0) {
          console.log(111)
          this.initWithCompany(id)
     } else {
          console.log(222)
          this.initWithCompanyList()
     }
  },
  methods: {
       queryCompany(query) {
               searchCompany(query, 10)
                    .then(resp => {
                         let company = [{
                              id: 0,
                              name: "全部公司"
                         }]
                         for (const key in resp.data.list) {
                              let cp = resp.data.list[key]
                              company.push({
                                   id: cp.id,
                                   name: cp.name,
                              })
                         }
                         this.$data.companys = company
                    })
          },
       initWithCompany(id) {
            console.log(id)
            let me = this
            axios.all([infoCompany(id), listEmployee(this.$data.page.current, this.$data.page.limit, id)])
               .then(axios.spread((infoResp, listResp) => {
                    //信息
                    let company = [{
                         id: 0,
                         name: "全部公司"
                    }]
                    company.push({
                         id: infoResp.data.info.id,
                         name: infoResp.data.info.name
                    })
                    me.$data.companys = company

                    // 列表
                    me.$set(me.$data.page, listResp.data.page)
                    me.$data.users = listResp.data.list
               }))
       },
       initWithCompanyList(keywords) {
            let me = this
            axios.all([listCompany(1, 10), listEmployee(this.$data.page.current, this.$data.page.limit)])
               .then(axios.spread((listCompanyResp, listResp) => {
                    //信息
                    let company = [{
                         id: 0,
                         name: "全部公司"
                    }]
                    for (const key in listCompanyResp.data.list) {
                         let item = listCompanyResp.data.list[key]
                         company.push({
                              id: item.id,
                              name: item.name
                         })
                    }
                    me.$data.companys = company

                    // 列表
                    me.$data.page = listResp.data.page
                    me.$data.users = listResp.data.list
               }))
       },
       getCompanyList(keywords = "") {
          listCompany(1, 10)
          .then(resp => {
               let company = [{
                         id: 0,
                         name: "全部公司"
                    }]
               for (const key in resp.data.list) {
                    let item = resp.data.list[key]
                    company.push({
                         id: item.id,
                         name: item.name
                    })
                    this.$data.companys = company
               }
          })
       },
       searchUser() {
          this.getUsers(1, this.$data.page.limit)
       },
       getUsers(current, limit) {
            console.log(current, limit, this.$data.company_id)
          
          listEmployee(current, limit, this.$data.company_id)
               .then(resp => {
                    this.$data.page = resp.data.page
                    this.$data.users = resp.data.list
                    this.$router.replace({query: {company_id: parseInt(this.$data.company_id)}})
               })
       },
       handleStatusChange(id) {
          toggleStatus(id)
          .then(resp => {
            this.msgSuccess("用户状态变更成功")
            this.getUsers(this.$data.page.current, this.$data.page.limit)
          })
       },
       changePage(current) {
            this.getUsers(current, this.$data.page.limit)
       },
       resetPwd(id) {
          resetPassword(id)
               .then(resp => {
                    this.msgSuccess("用户密码重置邮件已发送")
               })
       }
  },
  computed: {
       getUserList: function() {
            return this.$data.users.map(function(val){
                 return {
                      id: val.id,
                      account: val.username,
                      name: val.name,
                      company_name: val.company_name,
                      account: val.username,
                      status: val.status
                 };
            });
       }
  }
}
</script>
<style scoped>
.top {
     margin-top: 25px;
}
.page {
     margin-top: 25px;
}
</style>