<template>
  <el-upload
    class="upload-demo"
    :action="uploadAction"
    :data="uploadData"
    :on-exceed="handleExceed"
    :before-upload="beforeUpload"
    :on-error="uploadError"
    :on-success="uploadSuccess"
    :before-remove="beforeRemove"
    :on-remove="handleRemove"
    :file-list="picList"
    list-type="picture"
    :limit="limit"
    :sign="sign"
    :picUrl="picUrl"
    :bucket = "bucket"
    >
    <div class="upbutton">
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">只能上传jpg/png文件</div>
    </div>
  </el-upload>
</template>

<script>

export default {
  name: 'ImgUpload',
  props: {
    picList: {},
    sign: '',
    uploadData: {
      token: ''
    },
    picUrl: '',
    bucket: '',
  },
  data() {
    return {
      uploadAction: "https://upload.qiniup.com",
      limit: 1,
    }
  },
  methods: {
    handleExceed(files, fileList) {
      this.$message.warning(
        '当前限制选择 1 张图片，如需更换，请删除上一张图片再重新选择！'
      );
    },

    beforeUpload(file) {
      const isPNG = file.type === "image/png";
      const isJPEG = file.type === "image/jpeg";
      const isJPG = file.type === "image/jpg";

      if (!isPNG && !isJPEG && !isJPG) {
        this.$message.error("上传头像图片只能是 jpg、png、jpeg 格式!");
        return false;
      }
    },

    uploadError(err, file, fileList) {
      this.$message({
        message: "上传出错，请重试！",
        type: "error",
        center: true
      });
    },

    uploadSuccess(response) {
      var img = [{
        name: this.picUrl + '/' + response.key,
        url: this.picUrl + '/' + response.key
      }]
      this.$emit('setImg', {imgList:img,sign:this.sign})
    },

    beforeRemove(file, fileList) {},

    handleRemove(file, fileList) {},

  }
}
</script>
