<template>
  <el-dialog title="排序" :visible.sync="rankDialogData.dialogVisible" :before-close="close" width="30%">
    <el-form label-position="left" :model="rankDialogData" ref="rankDialogData" label-width="70px" class="demo-ruleForm">
      <el-form-item
        label="排序值"
        prop="oldRank"
        :rules="[
          { required: true, message: '不能为空'},
          { type: 'number', message: '必须为数字值'}
        ]"
      >
        <el-input v-model.number="rankDialogData.oldRank" autocomplete="off" placeholder="请输入排序数字"></el-input>
      </el-form-item>
    </el-form>
    <span class="alert">*只能输入数字,越大排序越靠前</span>
    <div slot="footer" class="dialog-footer">
      <el-button @click="close">取 消</el-button>
      <el-button type="primary" @click="rankSubmit('rankDialogData')">提 交</el-button>
    </div>
  </el-dialog>
</template>

<script>
import * as liveApi from '@/api/live/live'
import * as seriesApi from '@/api/series/series'

export default {
  name: 'Rank',
  props: {
    rankDialogData:{
      dialogVisible: {
        type: Boolean,
        default: false
      },
      id: {
        type: Number,
        default: 0
      },
      oldRank: {
        type: Number,
        default: 0
      },
      flag: {
        type: Number,
        default: 0
      }
    }
  },
  data() {
    return {}
  },
  methods: {
    rankSubmit(formName) {
      var that = this;
      this.$refs[formName].validateField('oldRank', oldRankError => {
        if (!oldRankError) {
          that.doSubmit()
        } else {
          that.$parent.operationMsg('表单格式错误', 'error')
          return false;
        }
      })
    },

    doSubmit() {
      var that = this;
      if (this.rankDialogData.flag==1) {
        var query = {
          live_id : this.rankDialogData.id,
          rank : this.rankDialogData.oldRank
        }
        liveApi.rank(query).then(response => {
          if (response.data.live_id!==0) {
            that.$parent.operationMsg('修改成功！', 'success')
            that.close()
            that.$parent.search()
          } else {
            that.$parent.operationMsg(response.data.msg, 'error')
          }
        }).catch(() => {})
      } else if (this.rankDialogData.flag==2) {
        var query = {
          series_id : this.rankDialogData.id,
          rank : this.rankDialogData.oldRank
        }
        seriesApi.rank(query).then(response => {
          if (response.data.series_id!==0) {
            that.$parent.operationMsg('修改成功！', 'success')
            that.close()
            that.$parent.search()
          } else {
            that.$parent.operationMsg(response.data.msg, 'error')
          }
        }).catch(() => {})
      }
    },

    close() {
      var rankDialogData = {
        dialogVisible: false,
        id: 0,
        oldRank: 0,
        flag: 0,
      }
      this.$emit('closeRankDialog', rankDialogData)
    }
  }
}
</script>

<style scoped>
  .alert {
    margin-left: 70px;
    color: #ff4949;
  }
</style>
