<template>
  <div class="app-container">
    <el-form ref="queryForm" :model="queryForm" :inline="true">
      <el-form-item label="角色名称" prop="name">
        <el-input
          v-model="queryForm.name"
          placeholder="请输入角色名称"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="角色标识" prop="key">
        <el-input
          v-model="queryForm.key"
          placeholder="请输入角色标识"
          clearable
          size="small"
          style="width: 240px"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-select
          v-model="queryForm.status"
          placeholder="角色状态"
          clearable
          size="small"
          style="width: 240px"
        >
          <el-option v-for="dict in statusOptions" :key="dict.val" :label="dict.lab" :value="dict.val" />
        </el-select>
      </el-form-item>
      <el-form-item label="创建者公司:">
        <el-select v-model="queryForm.company" placeholder="请选择">
          <el-option
            v-for="item in companys"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-permission="'system:role:add'"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleEdit"
          v-permission="'system:role:edit'"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-permission="'system:role:delete'"
        >删除</el-button>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="roleList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="角色编号" prop="id" width="120" />
      <el-table-column label="角色名称" prop="name" :show-overflow-tooltip="true" width="150" />
      <el-table-column label="角色标识" prop="key" :show-overflow-tooltip="true" width="150" />
      <el-table-column label="状态" align="center" width="140">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            active-text="启用"
            :active-value="1"
            :inactive-value="2"
            inactive-text="停用"
            @change="handleStatusChange(scope.row)"
          />
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleEdit(scope.row)" v-permission="'system:role:edit'">编辑角色</el-button>
          <el-button type="primary" size="mini" @click="getRoleMenu(scope.row)" v-permission="'system:role:editPermission'">权限设置</el-button>
          <el-button type="danger" size="mini" @click="handleDelete(scope.row)" v-permission="'system:role:delete'">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="queryForm.page" :limit.sync="queryForm.limit" @pagination="getRoles" />

    <!-- 添加或修改角色对话框 -->
    <el-dialog :visible.sync="showEdit" :title="title" width="500px">
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="角色名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入角色名称" />
        </el-form-item>
        <el-form-item label="角色标识" prop="key">
          <el-input v-model="form.key" placeholder="请输入唯一标识" />
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="form.status">
            <el-radio v-for="dict in statusOptions" :key="dict.val" :label="dict.val">{{ dict.lab }}</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="描述">
          <el-input v-model="form.description" type="textarea" placeholder="请输入内容" />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
    <el-dialog :visible.sync="showRoleMenu" title="权限设置" width="500px">
      <el-form ref="roleMenu" label-width="80px">
        <el-form-item label="菜单权限">
          <el-tree
            ref="menu"
            :data="menuOptions"
            show-checkbox
            node-key="id"
            empty-text="加载中..."
            :props="defaultProps"
            :default-expanded-keys="roleMenuForm.menuIds"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="primary" @click="submitRoleMenu">确 定</el-button>
        <el-button @click="cancelRoleMenu">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getRoles, createRole, deleteRole, updateRole, getRole, getRoleMenu, updateRoleMenu, toggleRoleStatus } from '@/api/company_system/role'
import Pagination from '@/components/Pagination'

// 状态数据字典
const statusOptions = [{ lab: '正常', val: 1 }, { lab: '停用', val: 2 }]

const defaultRole = {
  id: undefined,
  name: undefined,
  key: undefined,
  sort: 0,
  status: 1,
  ids: [],
  description: undefined
}

const defaultRoleMenu = {
  roleId: undefined,
  menuIds: []
}

export default {
  name: 'CompanyRoles',
  components: { Pagination },
  data() {
    const validateRoleKey = (rule, value, callback) => {
      const reg = /^[A-Za-z][A-Za-z0-9]+$/
      if (!reg.test(value)) {
        callback(new Error('角色标识格式不正确'))
      } else {
        callback()
      }
    }
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 总条数
      total: 0,
      // 角色列表
      roleList: [],
      // 是否显示编辑/添加弹框
      showEdit: false,
      // 是否显示权限设置弹框
      showRoleMenu: false,
      // 弹框标题
      title: '',
      // 是否处于编辑状态
      isEdit: false,
      // 状态数据字典
      statusOptions,
      // 菜单列表
      menuOptions: [],
      checkStrictly: false,
      defaultProps: {
        children: 'children',
        label: 'title'
      },
      // 查询参数
      queryForm: {
        page: 1,
        limit: 10,
        name: undefined,
        key: undefined,
        status: undefined,
        sortFiled: 'id',
        sortDirection: 'desc',
        company: 0
      },
      // 表单数据
      form: Object.assign({}, defaultRole),
      // 角色菜单权限
      roleMenuForm: Object.assign({}, defaultRoleMenu),
      // 表单校验
      rules: {
        name: [
          { required: true, message: '角色名称不能为空', trigger: 'blur' }
        ],
        key: [
          { required: true, message: '角色标识不能为空', trigger: 'blur'},
          {trigger: 'blur', validator: validateRoleKey}
        ]
      },
      companys: [
        {
          id: 0,
          name: "平台系统"
        }
      ]
    }
  },
  created() {
    this.getRoles()
  },
  methods: {
    getRoles() {
      this.loading = true
      getRoles(this.queryForm).then(res => {
        this.roleList = res.data.items
        this.total = res.data.total
        this.loading = false
      })
    },
    // 根据角色ID查询菜单树结构
    getRoleMenu(row) {
      getRoleMenu(row.id).then(res => {
        this.menuOptions = res.data.menus
        this.roleMenuForm = res.data
        this.$nextTick(() => {
          this.$refs.menu.setCheckedKeys(res.data.menuIds)
        })
        this.showRoleMenu = true
      })
    },
    handleAdd() {
      this.reset()
      this.showEdit = true
      this.title = '添加角色'
      this.isEdit = false
    },
    handleEdit(row) {
      this.reset()
      const id = row.id || this.ids
      getRole(id).then(res => {
        this.form = res.data
        this.showEdit = true
        this.title = '修改角色'
        this.isEdit = true
      })
    },
    handleDelete(row) {
      const ids = (row.id && [row.id]) || this.ids
      this.$confirm('是否确认删除角色编号为"' + ids + '"的数据项?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function() {
        return deleteRole(ids)
      }).then(() => {
        this.getRoles()
        this.msgSuccess('删除成功')
      }).catch(function() {})
    },
    // 角色状态修改
    handleStatusChange(row) {
      const text = row.status === 1 ? '启用' : '停用'
      this.$confirm('确认要"' + text + '""' + row.name + '"角色吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(function() {
        return toggleRoleStatus(row.id)
      }).then(() => {
        this.msgSuccess(text + '成功')
      }).catch(function() {
        row.status = row.status === 1 ? 1 : 2
      })
    },
    // 取消按钮
    cancel() {
      this.showEdit = false
      this.reset()
    },
    // 取消按钮
    cancelRoleMenu() {
      this.showRoleMenu = false
      this.resetRoleMenu()
    },
    // 表单重置
    reset() {
      this.form = Object.assign({}, defaultRole)
      this.resetForm('form')
    },
    // 表单重置
    resetRoleMenu() {
      if (this.$refs.menu !== undefined) {
        this.$refs.menu.setCheckedKeys([])
      }
      this.roleMenuForm = Object.assign({}, defaultRoleMenu)
      this.resetForm('roleMenu')
    },
    // 搜索
    handleQuery() {
      this.getRoles()
    },
    // 重置
    resetQuery() {
      this.$refs['queryForm'].resetFields()
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    // 提交
    submitForm: function() {
      this.$refs['form'].validate(valid => {
        if (!valid) {
          return
        }
        if (this.form.id !== undefined) {
          updateRole(this.form.id, this.form).then(() => {
            this.msgSuccess('修改成功')
            this.showEdit = false
            this.getRoles()
          })
        } else {
          createRole(this.form).then(() => {
            this.msgSuccess('新增成功')
            this.showEdit = false
            this.getRoles()
          })
        }
      })
    },
    // 所有菜单节点数据
    getMenuAllCheckedKeys() {
      // 目前被选中的菜单节点
      const checkedKeys = this.$refs.menu.getCheckedKeys()
      // 半选中的菜单节点
      const halfCheckedKeys = this.$refs.menu.getHalfCheckedKeys()
      checkedKeys.unshift.apply(checkedKeys, halfCheckedKeys)
      return checkedKeys
    },
    // 提交
    submitRoleMenu: function() {
      this.roleMenuForm.menuIds = this.getMenuAllCheckedKeys()
      updateRoleMenu(this.roleMenuForm.roleId, this.roleMenuForm).then(() => {
        this.msgSuccess('设置成功')
        this.showRoleMenu = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
