<template>
  <div class="activity">
    <el-form>
      <el-form-item label="时间">
        <el-date-picker
          v-model="dateValue"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
    </el-date-picker>
      </el-form-item>
    </el-form>    
    <el-form :inline="true">
      <el-form-item label="来源">
        <el-select v-model="sourceTypeName" clearable size="small">
          <el-option
            v-for="item in sourceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="设备">
        <el-select v-model="deviceTypeName" clearable size="small">
          <el-option
            v-for="item in deviceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="地域">
        <el-select v-model="regionName" clearable size="small">
          <el-option
            v-for="item in regionList"
            :key="item.regionName"
            :label="item.regionName"
            :value="item.regionName"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form>
      <el-form-item label="访客">
        <el-select v-model="visitorType" clearable size="small">
          <el-option
            v-for="item in visitorList"
            :key="item.visitorId"
            :label="item.visitorName"
            :value="item.visitorId"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>
    
    <div class="total">
      <ul>
        <li>
          <label for="">浏览量（PV）</label>
          {{totalPv}}
        </li>
        <li>
          <label for="">访客数（UV）</label>
          {{totalUv}}
        </li>
        <li>
          <label for="">IP数</label>
          {{totalIp}}
        </li>
      </ul>   
    </div>    
    <div class="pv-uv">
      <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          :class="{active_data_type_color:1==chartDataType}"
          @click="handleQueryPv()"
          >浏览量（PV）</el-button
        >
      </el-form-item>
    </el-form>
     <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          :class="{active_data_type_color:2==chartDataType}"
          @click="handleQueryUv()"
          >访客数（UV）</el-button
        >
      </el-form-item>
    </el-form>
    </div> 
     
    <div id="china_map_box">
      <div id="china_map"></div>
    </div>
    <div class="region-table clear">
      <el-table
    :data="regionTableData"
    style="width: 100%;margin-bottom: 20px;"
    row-key="address"
    border
    default-expand-all
    :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
    <el-table-column
      prop="address"
      label="地域"
      sortable
      width="180">
    </el-table-column>
    <el-table-column
      prop="pv_count"
      label="浏览量（PV）"
      sortable
      width="180">
    </el-table-column>
    <el-table-column
      prop="uv_count"
      label="访客数（UV）">
    </el-table-column>
    <el-table-column
      prop="ip_count"
      label="IP数">
    </el-table-column>
  </el-table>      

    </div>
  </div>
</template>

<script>
import {
  getRegionList,
  getRegionLayoutTotal, 
  getRegionLayoutPvList, 
  getRegionLayoutUvList,
  getRegionPvUvIpList, 
} from "../../api/statistic/statistic";
import * as echarts from 'echarts';
import china from './js/china.js';
// echarts.registerMap('china',china);
import {Message} from 'element-ui'
export default {
  data() {
    return {       
      dateValue: '',
      dateStart:'',
      dateEnd:'',
      sourceTypeList: [//来源类型
        {
        typeId:1,
        typeName:'优药公众号'
        },
        {
        typeId:2,
        typeName:'优药app'
        },
        {
        typeId:3,
        typeName:'优佳医公众号'
        },
        {
        typeId:4,
        typeName:'优佳医app'
        }
      ], 
      sourceTypeName:'',
      deviceTypeList: [//设备类型
      {
        typeId:1,
        typeName:'ios'
      },
      {
        typeId:2,
        typeName:'android'
      }
      ], 
      deviceTypeName:'',
      regionList:[],//地域
      regionName:'',
      visitorList:[//访客
      {
        visitorId:1,
        visitorName:'新访客'
      },
      {
        visitorId:2,
        visitorName:'老访客'
      }
      ],
      visitorType:'',
      totalPv:0,
      totalUv:0,
      totalIp:0,
      continuosPoint: [],
      specificActId: 1,
      willDeletedRules: [], //待删除的规则
      dialogVisible: false,      
      regionTableData: [],//pv/uv/ip列表数据

      provincePvList: [],
      provinceUvList: [],
      chartDataType:1,//图表当前显示的数据类型，1pv,2uv
      myChart: '',
      
      options: {
        tooltip: {
          triggerOn: "mousemove",   //mousemove、click
          padding:8,
          borderWidth:1,
          borderColor:'#409eff',
          backgroundColor:'rgba(255,255,255,0.7)',
          textStyle:{
            color:'#000000',
            fontSize:13
          },
          formatter: function(item) {
            if(!(0<item.value)){
              item.value = 0;
            }    

            let context = `
               <div>
                   <p><b style="font-size:15px;">${item.name}</b></p>
                   <p class="tooltip_style"><span class="tooltip_left">统计量：</span><span class="tooltip_right">${item.value}</span></p>
               </div>
            `
            return context;
          }
        },
        visualMap: {
          show:true,
          left: 26,
          bottom: 40,
          showLabel:true,
          pieces: [
            {
              gte: 100,
              label: ">= 1000",
              color: "#1f307b"
            },
            {
              gte: 500,
              lt: 999,
              label: "500 - 999",
              color: "#3c57ce"
            },
            {
              gte: 100,
              lt:499,
              label: "100 - 499",
              color: "#6f83db"
            },
            {
              gte: 10,
              lt: 99,
              label: "10 - 99",
              color: "#9face7"
            },
            {
              lt:10,
              label:'<10',
              color: "#bcc5ee"
            }
          ]
        },
        geo: {
          map: "china",
          scaleLimit: {
            min: 1,
            max: 2
          },
          zoom: 1.2,
          top: 120,
          label: {
            normal: {
              show:true,
              fontSize: "14",
              color: "rgba(0,0,0,0.7)"
            }
          },
          itemStyle: {
            normal: {
              //shadowBlur: 50,
              //shadowColor: 'rgba(0, 0, 0, 0.2)',
              borderColor: "rgba(0, 0, 0, 0.2)"
            },
            emphasis: {
              areaColor: "#f2d5ad",
              shadowOffsetX: 0,
              shadowOffsetY: 0,
              borderWidth: 0
            }
          }
        },
        series: [
          {
            name: "地域分布统计",
            type: "map",
            geoIndex: 0,
            data: []
          }
        ]
        },      
    };
  },
  created() {
    //获取地域列表
      getRegionList().then(re=>{
        re.data.forEach((it) => {
        this.regionList.push({
          regionName: it.province,
        });
      });
      });

      //获取地域分布总数
    getRegionLayoutTotal(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        this.totalPv = re.data.totalPv;
        this.totalUv = re.data.totalUv;
        this.totalIp = re.data.totalIp;
      });

      //获取地域分布-列表-浏览量
    // getRegionLayoutPvList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
    //      re.data.list.forEach((it) => {
    //       this.trendDayList.push({
    //       date: it.visit_date,
    //       pv: it.pv_count,
    //       uv: it.uv_count,
    //       ip: it.ip_count
    //       });          
    //     });
    //   });

       //获取地域分布-列表-访客数
    // getRegionLayoutUvList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
    //      re.data.list.forEach((it) => {
    //       this.trendDayList.push({
    //       date: it.visit_date,
    //       pv: it.pv_count,
    //       uv: it.uv_count,
    //       ip: it.ip_count
    //       });
    //     });
    //   });

      //获取地域分布-列表-pv/uv/ip
    getRegionPvUvIpList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
         this.regionTableData = [];
         this.regionTableData = re.data;
         re.data.forEach((it) => {
          this.options.series[0]['data'].push({
            name: it.address,
            value: it.pv_count
          });
          this.provincePvList.push({
            name: it.address,
            value: it.pv_count
          });
          this.provinceUvList.push({
            name: it.address,
            value: it.uv_count
          });
        });   
        this.myChart.setOption(this.options); 
      });

  },
  methods: {
    handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType) {
      let date_value = this.dateValue;
      if (date_value) {
        this.dateStart = date_value[0];
        this.dateEnd = date_value[1];
      }
      //获取地域分布总数
    getRegionLayoutTotal(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        this.totalPv = re.data.totalPv;
        this.totalUv = re.data.totalUv;
        this.totalIp = re.data.totalIp;
      });

       //获取地域分布-列表-pv/uv/ip
    getRegionPvUvIpList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
         this.regionTableData = re.data;
         re.data.forEach((it) => {
          this.options.series[0]['data'].push({
          name: it.address,
          value: it.pv_count
          });
          this.provincePvList.push({
            name: it.address,
            value: it.pv_count
          });
          this.provinceUvList.push({
            name: it.address,
            value: it.uv_count
          });
        });   
        this.myChart.setOption(this.options);
      });

    },  
    
    handleQueryPv(){
      this.chartDataType = 1;
      this.options.series[0]['data'] = [];
      this.options.series[0]['data'] = this.provincePvList;
      this.myChart.setOption(this.options);
    },

    handleQueryUv(){
      this.chartDataType = 2;
      this.options.series[0]['data'] = [];
      this.options.series[0]['data'] = this.provinceUvList;
      this.myChart.setOption(this.options);
    },

    
    //初始化中国地图
    initEchartMap() {
      let mapDiv = document.getElementById('china_map');
      this.myChart = echarts.init(mapDiv);
      this.myChart.setOption(this.options);
    },
    //修改echart配制
    setEchartOption(){
       this.options.series[0]['data'] = this.dataList;
    }
  },
  mounted:function (){
            this.initEchartMap();
        },
};
</script>

<style>
.activity {
  padding: 20px;
}
.cell {
  text-align: center;
}
.map {
  width:100%;
  height: 500px;
  /* background-color: red; */
  /* float: left; */
}
.region-table {
  width:100%;
  /* float: right; */
  /* background-color: green; */
}

.clear{zoom:1;}    
 #china_map_box {
        width: 100%;
        height: 700px;
        position: relative;
        margin: 5px;
        border: 2px solid black;
        text-align: center;
    }
    #china_map_box #china_map{
        height: 100%;
    }
     #china_map_box .china_map_logo{
        position: absolute;
        top: 0;
        left: 0;
        width:45px;
     }
     #china_map {
       width: 100%;
       height: 700px;
       border: green;
       /* background-color: greenyellow; */

     }
     #china_map .tooltip_style{
      line-height:1.7;
      overflow: hidden;
  }
  .pv-uv form{
    display: inline;
  }
  .pv-uv .active_data_type_color{
  background-color:rgb(12, 197, 89);
}
  /* #china_map .tooltip_left{
      float: left;
  }
  #china_map .tooltip_right{
      float: right;
  } */


</style>