<template>
  <div class="activity">
    <el-form>
      <el-form-item label="时间">
        <el-date-picker
          v-model="dateValue"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
    </el-date-picker>
      </el-form-item>
    </el-form>    
    <el-form :inline="true">
      <el-form-item label="来源">
        <el-select v-model="sourceTypeName" clearable size="small">
          <el-option
            v-for="item in sourceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="设备">
        <el-select v-model="deviceTypeName" clearable size="small">
          <el-option
            v-for="item in deviceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="地域">
        <el-select v-model="regionName" clearable size="small">
          <el-option
            v-for="item in regionList"
            :key="item.regionName"
            :label="item.regionName"
            :value="item.regionName"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form>
      <el-form-item label="访客">
        <el-select v-model="visitorType" clearable size="small">
          <el-option
            v-for="item in visitorList"
            :key="item.visitorId"
            :label="item.visitorName"
            :value="item.visitorId"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>
    <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          @click="handleExportDetail(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >导出明细</el-button
        >
      </el-form-item>
    </el-form>

    <div class="total">
      <ul>
        <li>
          <label for="">浏览量（PV）</label>
          {{totalPv}}
        </li>
        <li>
          <label for="">访客数（UV）</label>
          {{totalUv}}
        </li>
        <li>
          <label for="">IP数</label>
          {{totalIp}}
        </li>
      </ul>   
    </div>
    <div class="pv-uv">
      <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          :class="{active_data_type_color:1==chartDataType}"
          @click="handleQueryPv(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >浏览量（PV）</el-button
        >
      </el-form-item>
    </el-form>
     <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          :class="{active_data_type_color:2==chartDataType}"
          @click="handleQueryUv(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >访客数（UV）</el-button
        >
      </el-form-item>
    </el-form>
    </div> 
    <div class="day-week-month">
      <el-form :inline="true">
          <el-form-item>
            <el-button
              type="primary"
              size="mini"
              :class="{active_date_type_color:1==chartDateType}"
              @click="handleQueryDay(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
              >按天</el-button
            >
          </el-form-item>
        </el-form>
        <el-form :inline="true">
          <el-form-item>
            <el-button
              type="primary"
              size="mini"
              :class="{active_date_type_color:2==chartDateType}"
              @click="handleQueryWeek(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
              >按周</el-button
            >
          </el-form-item>
        </el-form>
        <el-form :inline="true">
          <el-form-item>
            <el-button
              type="primary"
              size="mini"
              :class="{active_date_type_color:3==chartDateType}"
              @click="handleQueryMonth(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
              >按月</el-button
            >
          </el-form-item>
        </el-form>
    </div>
    <div id="main" class="charts">

    </div>

    <el-table :data="trendDayList" style="width: 100%">
      <el-table-column label="日期" width="180">
        <template slot-scope="scope">
          <span style="margin-left: 10px">{{ scope.row.date }}</span>
        </template>
      </el-table-column>
      <el-table-column label="浏览量（PV）" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.pv }}</span>
        </template>
      </el-table-column>
      <el-table-column label="访客数（UV）" width="180">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium" ref="status">{{ scope.row.uv }}</el-tag>
          </div>
        </template>
      </el-table-column>
     <el-table-column label="IP数" width="180">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium" ref="status">{{ scope.row.ip }}</el-tag>
          </div>
        </template>
      </el-table-column>       
    </el-table>    
  </div>
</template>

<script>
import {
  getRegionList,
  getTrendTotal,
  getTrendDayList,
  exportDetail,
} from "../../api/statistic/statistic";
import * as echarts from 'echarts';
import {Message} from 'element-ui';

export default {
  data() {
    return {       
      dateValue: '',
      dateStart:'',
      dateEnd:'',
      sourceTypeList: [//来源类型
        {
        typeId:1,
        typeName:'优药公众号'
        },
        {
        typeId:2,
        typeName:'优药app'
        },
        {
        typeId:3,
        typeName:'优佳医公众号'
        },
        {
        typeId:4,
        typeName:'优佳医app'
        }
      ], 
      sourceTypeName:'',
      deviceTypeList: [//设备类型
      {
        typeId:1,
        typeName:'ios'
      },
      {
        typeId:2,
        typeName:'android'
      }
      ], 
      deviceTypeName:'',
      regionList:[],//地域
      regionName:'',
      visitorList:[//访客
      {
        visitorId:1,
        visitorName:'新访客'
      },
      {
        visitorId:2,
        visitorName:'老访客'
      }
      ],
      visitorType:'',
      trendDayList: [], //对象数组，每个对象包含actid,typeName,name,state,status字段
      totalPv:0,
      totalUv:0,
      totalIp:0,
      exportDetailUrl:'',
      weekDateList:[],
      monthDateList:[],
      weekPvlist:[],
      monthPvList:[],
      weekUvList:[],
      monthUvList:[],
      chartDataType:1,//图表当前显示的数据类型，1pv,2uv
      chartDateType:1,//图表当前显示的日期类型，1天，2周，3月
      continuosPoint: [],
      specificActId: 1,
      willDeletedRules: [], //待删除的规则
      dialogVisible: false,
      charts:'',
      dateList: [],
      pvData: [],
      uvData: [],
      option: {
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: []
    },
    yAxis: {
      type: 'value' 
    },
    series: [
      {
        data: [],
        type: 'line',
        areaStyle: {}
      }
    ]
  },
    };
  },
  created() {
    //获取地域列表
      getRegionList().then(re=>{
        re.data.forEach((it) => {
        this.regionList.push({
          regionName: it.province,
        });
      });
      });
    //获取趋势总数据
    getTrendTotal(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        this.totalPv = re.data.totalPv;
        this.totalUv = re.data.totalUv;
        this.totalIp = re.data.totalIp;
      });

    //获取趋势天列表
    getTrendDayList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
         re.data.list.forEach((it) => {
          this.trendDayList.push({
          date: it.visit_date,
          pv: it.pv_count,
          uv: it.uv_count,
          ip: it.ip_count
          });          
        });
          this.weekDateList = [];
          this.weekDateList = re.data.weekDate;
          this.monthDateList = [];
          this.monthDateList = re.data.monthDate;
          this.weekPvlist = [];
          this.weekPvlist = re.data.weekPvList;
          this.monthPvList = [];
          this.monthPvList = re.data.monthPvList;
          this.weekUvList = [];
          this.weekUvList = re.data.weekUvList;
          this.monthUvList = [];
          this.monthUvList = re.data.monthUvList;
          this.dateList = [];
          this.dateList = re.data.dateList;
          this.pvData = [];
          this.pvData = re.data.pvList;
          this.uvData = [];
          this.uvData = re.data.uvList;
          this.option.xAxis.data = [];
          this.option.xAxis.data = re.data.dateList;
          this.option.series[0]['data'] = [];
          this.option.series[0]['data'] = re.data.pvList;
          this.charts.setOption(this.option);
      });
      
  },
  methods: {
    handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType) {
      this.trendDayList = [];
      let date_value = this.dateValue;
      if (date_value) {
        this.dateStart = date_value[0];
        this.dateEnd = date_value[1];
      }
      
      //获取趋势总数据
    getTrendTotal(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        this.totalPv = re.data.totalPv;
        this.totalUv = re.data.totalUv;
        this.totalIp = re.data.totalIp;
      });

    //获取趋势天列表
    getTrendDayList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
         re.data.list.forEach((it) => {
          this.trendDayList.push({
          date: it.visit_date,
          pv: it.pv_count,
          uv: it.uv_count,
          ip: it.ip_count
          });          
        });
          this.weekDateList = [];
          this.weekDateList = re.data.weekDate;
          this.monthDateList = [];
          this.monthDateList = re.data.monthDate;
          this.weekPvlist = [];
          this.weekPvlist = re.data.weekPvList;
          this.monthPvList = [];
          this.monthPvList = re.data.monthPvList;
          this.weekUvList = [];
          this.weekUvList = re.data.weekUvList;
          this.monthUvList = [];
          this.monthUvList = re.data.monthUvList;
          this.dateList = [];
          this.dateList = re.data.dateList;
          this.pvData = [];
          this.pvData = re.data.pvList;
          this.uvData = [];
          this.uvData = re.data.uvList;
          this.option.xAxis.data = [];
          this.option.xAxis.data = re.data.dateList;
          this.option.series[0]['data'] = [];
          this.option.series[0]['data'] = re.data.pvList;
          this.charts.setOption(this.option);
      });
    },    

    handleQueryPv(){
      this.chartDataType = 1;
      if(1==this.chartDateType){
      this.option.xAxis.data = this.dateList;
      this.option.series[0]['data'] = this.pvData;
      }else if(2==this.chartDateType){
        this.option.xAxis.data = this.weekDateList;
        this.option.series[0]['data'] = this.weekPvlist;
      }else if(3==this.chartDateType){
        this.option.xAxis.data = this.monthDateList;
        this.option.series[0]['data'] = this.monthPvList;
      }      
      this.charts.setOption(this.option);        
    },

    handleQueryUv(){
      this.chartDataType = 2;
      if(1==this.chartDateType){
      this.option.xAxis.data = this.dateList;
      this.option.series[0]['data'] = this.uvData;
      }else if(2==this.chartDateType){
        this.option.xAxis.data = this.weekDateList; 
        this.option.series[0]['data'] = this.weekUvList;
      }else if(3==this.chartDateType){
        this.option.xAxis.data = this.monthDateList;
        this.option.series[0]['data'] = this.monthUvList;
      } 
      this.charts.setOption(this.option);          
    },

     handleQueryDay(){
       this.chartDateType = 1;
       this.option.xAxis.data = this.dateList;   
       if(1==this.chartDataType){
         this.option.series[0]['data'] = this.pvData;
       }else{
         this.option.series[0]['data'] = this.uvData;
       }
      this.charts.setOption(this.option);         
    },

    handleQueryWeek(){
      this.chartDateType = 2;
       this.option.xAxis.data = this.weekDateList;   
       if(1==this.chartDataType){
         this.option.series[0]['data'] = this.weekPvlist;
       }else{
         this.option.series[0]['data'] = this.weekUvList;
       }
      this.charts.setOption(this.option);  
    },

    handleQueryMonth(){
        this.chartDateType = 3;
       this.option.xAxis.data = this.monthDateList;   
       if(1==this.chartDataType){
         this.option.series[0]['data'] = this.monthPvList;
       }else{
         this.option.series[0]['data'] = this.monthUvList;
       }
      this.charts.setOption(this.option);         
    },


    handleExportDetail(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType) {
      let date_value = this.dateValue;
      if (date_value) {
        this.dateStart = date_value[0];
        this.dateEnd = date_value[1];
      }
     
      //导出明细
    exportDetail(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        this.exportDetailUrl = re.data.file_uri;
        console.log(this.exportDetailUrl);
        window.open(this.exportDetailUrl);
      });  

    },

    get_echarts(){
                this.charts = echarts.init(document.getElementById("main"));
                // 把配置和数据放这里
                this.charts.setOption(this.option)  
            }
  },
  mounted:function (){
            this.get_echarts();
        },
};
</script>

<style>
.activity {
  padding: 20px;
}
.cell {
  text-align: center;
}
.charts{
  width: 100%;
  height: 500px;
  border: 1px solid black;
}
.pv-uv form{
  display: inline;
}
.day-week-month form{
  display: inline;
}
.pv-uv .active_data_type_color{
  background-color:rgb(12, 197, 89);
}
.day-week-month .active_date_type_color{
  background-color: rgb(12, 197, 89);
}

</style>