<template>
  <div class="activity">
    <el-form>
      <el-form-item label="时间">
        <el-date-picker
          v-model="dateValue"
          value-format="yyyy-MM-dd"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
    </el-date-picker>
      </el-form-item>
    </el-form>    
    <el-form :inline="true">
      <el-form-item label="来源">
        <el-select v-model="sourceTypeName" clearable size="small">
          <el-option
            v-for="item in sourceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="设备">
        <el-select v-model="deviceTypeName" clearable size="small">
          <el-option
            v-for="item in deviceTypeList"
            :key="item.typeId"
            :label="item.typeName"
            :value="item.typeId"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="地域">
        <el-select v-model="regionName" clearable size="small">
          <el-option
            v-for="item in regionList"
            :key="item.regionName"
            :label="item.regionName"
            :value="item.regionName"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form>
      <el-form-item label="访客">
        <el-select v-model="visitorType" clearable size="small">
          <el-option
            v-for="item in visitorList"
            :key="item.visitorId"
            :label="item.visitorName"
            :value="item.visitorId"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <el-form :inline="true">
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          size="mini"
          @click="handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType)"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>

    <div class="total">
      <ul>
        <li>
          <label for="">浏览量（PV）</label>
          {{totalPv}}
        </li>
        <li>
          <label for="">访客数（UV）</label>
          {{totalUv}}
        </li>
      </ul>   
    </div>

    <el-table :data="visitPageList" style="width: 100%">
      <el-table-column label="页面名称" width="180">
        <template slot-scope="scope">
          <span style="margin-left: 10px">{{ scope.row.pageName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="页面url" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.pageUrl }}</span>
        </template>
      </el-table-column>
      <el-table-column label="浏览量（PV）" width="180">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium" ref="status">{{ scope.row.pv }}</el-tag>
          </div>
        </template>
      </el-table-column>
     <el-table-column label="访客数（UV）" width="180">
        <template slot-scope="scope">
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium" ref="status">{{ scope.row.uv }}</el-tag>
          </div>
        </template>
      </el-table-column>       
    </el-table>    
  </div>
</template>

<script>
import {
  getRegionList,
  getVisitPageList,
} from "../../api/statistic/statistic";
import {Message} from 'element-ui'
export default {
  data() {
    return {       
      dateValue: '',
      dateStart:'',
      dateEnd:'',
      sourceTypeList: [//来源类型
        {
        typeId:1,
        typeName:'优药公众号'
        },
        {
        typeId:2,
        typeName:'优药app'
        },
        {
        typeId:3,
        typeName:'优佳医公众号'
        },
        {
        typeId:4,
        typeName:'优佳医app'
        }
      ], 
      sourceTypeName:'',
      deviceTypeList: [//设备类型
      {
        typeId:1,
        typeName:'ios'
      },
      {
        typeId:2,
        typeName:'android'
      }
      ], 
      deviceTypeName:'',
      regionList:[],//地域
      regionName:'',
      visitorList:[//访客
      {
        visitorId:1,
        visitorName:'新访客'
      },
      {
        visitorId:2,
        visitorName:'老访客'
      }
      ],
      visitorType:'',
      visitPageList: [], //对象数组，每个对象包含actid,typeName,name,state,status字段
      totalPv:0,
      totalUv:0,
      continuosPoint: [],
      specificActId: 1,
      willDeletedRules: [], //待删除的规则
      dialogVisible: false,
      action: "",
    };
  },
  created() {
    //获取受访页面列表
    getVisitPageList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        re.data.list.forEach((it) => {
        this.visitPageList.push({
          pageName: it.page_name,
          pageUrl: it.page_url,
          pv: it.pv,
          uv: it.uv,
        });
      });
        this.totalPv = re.data.total_pv;
        this.totalUv = re.data.total_uv;
      });
      //获取地域列表
      getRegionList().then(re=>{
        re.data.forEach((it) => {
        this.regionList.push({
          regionName: it.province,
        });
      });
      });
  },
  methods: {
    handleQuery(dateStart,dateEnd,sourceTypeName,deviceTypeName,regionName,visitorType) {
      this.visitPageList = [];
      console.log(typeof this.dateValue);
      let date_arr = [];
      let date_value = this.dateValue;
      if (date_value) {
        this.dateStart = date_value[0];
        this.dateEnd = date_value[1];
      }
     
      getVisitPageList(this.dateStart,this.dateEnd,this.sourceTypeName,this.deviceTypeName,this.regionName,this.visitorType).then(re=>{
        re.data.list.forEach((it) => {
        this.visitPageList.push({
          pageName: it.page_name,
          pageUrl: it.page_url,
          pv: it.pv,
          uv: it.uv,
        });
      });
        this.totalPv = re.data.total_pv;
        this.totalUv = re.data.total_uv;
      })
    },    
  },
};
</script>

<style>
.activity {
  padding: 20px;
}
.cell {
  text-align: center;
}
</style>