<template>
  <div class="block">
    <el-upload
      action="undefined"
      :show-file-list="isShow"
      :limit="uploadLimit"
      :http-request="uploadFile"
      list-type="text"
      :file-list="uploadList"
      :before-remove="beforeRemove"
    >
      <el-button 
      size="small" 
      type="primary"
      v-permission="'compliance:questionnaire:edit:upload'"
      >点击上传</el-button>
    </el-upload>
  </div>

</template>
<script>
import { getUploadConfig, addUpload } from '@/api/upload/upload'
import * as qiniu from 'qiniu-js'
export default {
  props: ['type', 'business', 'uploadList', 'limit', 'showList'],
  data: function() {
    return {
      config: {
        path: '',
        token: '',
        expireTime: '',
        bucket: '',
        baseUri: '',
        uploadUri: ''
      }
    }
  },
  computed: {
    uploadLimit() {
      return this.limit ? this.limit : 0
    },
    isShow() {
      return !!this.showList
    }
  },
  mounted: function() {
    console.log(this.type, this.business)
    this.initUpload()
  },
  methods: {
    initUpload() {
      getUploadConfig(this.type, this.business).then(response => {
        this.$data.config = response.data.config
      })
    },
    uploadFile(obj) {
      const config = this.config

      const { file } = obj
      let key = config.path
      const fileName = file.name
      key = key + fileName
      console.log(file, obj, key)

      const uploadConfig = {
        useCdnDomain: true, // 表示是否使用 cdn 加速域名，为布尔值，true 表示使用，默认为 false。
        region: qiniu.region.z0,
        uphost: config.uploadUrl
      }
      const putExtra = {}

      const observable = qiniu.upload(file, key, config.token, putExtra, uploadConfig)

      // 刚刚得到的信息可以使用了，这样可以使用到 el-upload 的进度条
      const next = ({ total }) => obj.onProgress({ percent: total.percent })
      const error = err => this.uploadError(err)
      const complete = res => this.uploadSuccess(res)
      const subscription = observable.subscribe(next, error, complete)

      return subscription
    },
    uploadError(err) {
      this.$emit('uploadFail', err)
      console.log(err)
    },
    uploadSuccess(res) {
      const bucket = this.$data.config.bucket
      const url = this.$data.config.baseUri
      const key = res.key
      const fileName = res.key.split('/').pop()
      const fileUrl = `${url}/${key}`
      const me = this
      addUpload(key, bucket, fileName, fileUrl).then(resp => {
        const id = resp.data.info.id
        const data = {
          id: id,
          name: fileName,
          url: fileUrl
        }
        me.uploadList.push(data)

        me.$emit('uploadSuccess', data)
      })
    },
    beforeRemove(file, fileList) {
      let i = 0
      for (i = 0; i < this.uploadList.length; i++) {
        if (file.uid == this.uploadList[i].uid) {
          console.log(i)
          this.$emit('deleteFile', i, this.uploadList[i])
        }
      }

      return false
    }
  }
}
</script>
