<template>
  <div class="app-container">
    <el-button v-permission="'activity:dis:add'" style="margin-bottom: 20px;" type="primary" @click="addAct">创建平台活动</el-button>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" width="80px" />
      <el-table-column prop="activity_type" label="活动类型" align="center">
        <template slot-scope="{row}">
          <template v-if="row.activity_type==1">签到</template>
        </template>
      </el-table-column>
      <el-table-column prop="name" label="标题" align="center" />
      <el-table-column prop="platform" label="平台" align="center">
        <template slot-scope="{row}">
          <el-tag v-if="row.platform==1">优药公众号</el-tag>
          <el-tag v-if="row.platform==2">优药APP</el-tag>
          <el-tag v-if="row.platform==3">优佳医公众号</el-tag>
          <el-tag v-if="row.platform==4">优佳医APP</el-tag>
          <el-tag v-if="row.platform==5">优药小程序</el-tag>
          <el-tag v-if="row.platform==6">优佳医小程序</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="start_time" label="开始时间" align="center" />
      <el-table-column prop="end_time" label="结束时间" align="center" />
      <el-table-column prop="status" label="状态" align="center" width="150px">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.status==1,outstatus:row.status==2}">
            <template v-if="row.status==1">进行中</template>
            <template v-if="row.status==2">已结束</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center" />
      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}" v-if="row.status==1">
          <el-row>
            <el-col :span="24">
              <el-button v-permission="'activity:dis:delete'" type="danger" size="mini" @click="deleted(row.id)">结束</el-button>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="活动分类"
              prop="type"
              :rules="[
                { required: true, message: '请选择活动分类', trigger: 'blur' }
              ]"
            >
              <el-select v-model="formData.type" placeholder="请选择分类">
                <el-option v-for="item in act_types" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item
              label="活动名称"
              :rules="[
                { required: true, message: '请选择活动', trigger: 'blur' }
              ]"
            >
              <el-autocomplete
                style="width: 100%;"
                v-model="act_name"
                :fetch-suggestions="querySearch"
                placeholder="请输入活动名称"
                @select="handleSelect"
              ></el-autocomplete>
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item
          label="平台选择"
          prop="plat"
          :rules="[
            { required: true, message: '请至少选择一个选择平台', trigger: 'blur' }
          ]"
        >
          <el-checkbox-group v-model="formData.plat">
            <el-checkbox label="代表公众号" />
            <el-checkbox label="代表APP" />
            <el-checkbox label="医生公众号" />
            <el-checkbox label="医生APP" />
            <el-checkbox label="代表小程序" />
            <el-checkbox label="医生小程序" />
          </el-checkbox-group>
        </el-form-item>

        <el-row>
          <el-col :span="11">
          <el-form-item
            label="开始时间"
            :rules="[
              { required: true, message: '请输入开始时间', trigger: 'blur' }
            ]"
          >
              <el-date-picker
                v-model="formData.start_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
          
              />
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2" />
          <el-col :span="11">
            <el-form-item label="结束时间">
              <el-date-picker
                v-model="formData.end_time"
                type="datetime"
                placeholder="选择日期时间"
                style="width:100%;"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-form-item style="margin-top: 50px;">
          <el-button type="primary" @click="updateAct('formData')">确认提交</el-button>
          <el-button @click="close">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as activityApi from '@/api/activity/activity'
import Pagination from '@/components/Pagination'

export default {
  name: 'Index',
  components: { Pagination },
  data() {
    return {
      query: {
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,

      dialogVisible: false,
      act_types: [],
      act_name: '',
      act_list: [],
      formData: {
        type: '',
        id: '',
        plat: [],
        start_time: '',
        end_time: ''
      },
      acNameStatus: false
    }
  },
  created() {
    this.search()
  },
  mounted() {
    this.getActList()
  },
  methods: {
    search() {
      activityApi.distribution(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    types() {
      activityApi.types().then(response => {
        this.act_types = response.data
      }).catch(() => {})
    },

    getActList() {
      activityApi.getActList().then(response => {
        if (response.code==20000) {
          this.act_list = response.data
        }
      }).catch(() => {})
    },

    querySearch(queryString, cb) {
      var list = this.act_list
      var results = queryString ? list.filter(this.createFilter(queryString)) : list
      // 调用 callback 返回建议列表的数据
      if(results.length > 0){
        cb(results);
      }else{
        this.formData.id=''
      }
    },

    createFilter(queryString) {
      return (list) => {
        return (list.value.indexOf(queryString) === 0)
      }
    },

    handleSelect(item) {
      this.formData.id = item.id
    },

    addAct() {
      this.dialogVisible = true
      this.types()
    },

    detail(act_id) {
      this.getUploadToken()
      activityApi.detail({id: act_id}).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    updateAct(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          activityApi.set(this.formData).then(response => {
            if (response.code === 20000) {
              this.operationMsg('提交成功！', 'success')
              this.close()
              this.search()
            }
          }).catch(() => {})
        } else {
          return false
        }
      })
    },

    deleted(id) {
      this.$confirm('确认结束该活动吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        activityApi.end({ id: id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('活动已结束！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    close() {
      this.act_name = ''
      this.formData = {
        type: '',
        id: '',
        plat: [],
        start_time: '',
        end_time: ''
      }
      this.dialogVisible = false
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
