<template>
  <div class="app-container">
    <el-form ref="form" :model="query" label-width="90px">
      <el-row :gutter="60">
        <el-col :span="12">
          <el-form-item label="活动名称">
            <el-input v-model="query.title" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-button v-permission="'activity:list:search'" type="primary" @click="search">搜索</el-button>
          <el-button v-permission="'activity:list:reset'" style="margin-left: 20px;" @click="queryReset">重置</el-button>
          <el-button v-permission="'activity:list:add'" style="margin-left: 20px;" type="primary" @click="addAct">创建签到活动</el-button>
        </el-col>
      </el-row>
    </el-form>

    <el-table v-loading="loading" :data="list" stripe border style="width: 100%">
      <el-table-column prop="id" label="ID" align="center" width="80px" />
      <el-table-column prop="name" label="标题" align="center" />
      <el-table-column prop="activity_key" label="活动key" align="center" />
      <el-table-column prop="state" label="状态" align="center" width="150px">
        <template slot-scope="{row}">
          <div class="status" :class="{publishstatus:row.state==1,outstatus:row.state==2}">
            <template v-if="row.state==1">已上架</template>
            <template v-if="row.state==2">已下架</template>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="创建时间" align="center" />

      <el-table-column prop="" label="操作" width="160px" align="center">
        <template slot-scope="{row}">
          <el-row>
            <el-col :span="12">
              <el-button v-permission="'activity:list:update'" type="primary" size="mini" @click="detail(row.id)">编辑</el-button>
            </el-col>
            <el-col :span="12">
              <el-button v-permission="'activity:list:delete'" type="danger" size="mini" @click="deleted(row.id)">删除</el-button>
            </el-col>
          </el-row>
          <el-row style="margin-top: 6px;">
            <el-col :span="12">
              <el-button v-permission="'activity:list:publish'" :disabled="row.state==1" type="primary" size="mini" @click="pubAct(row.id)">上架</el-button>
            </el-col>
            <el-col :span="12">
              <el-popconfirm
                title="确定要下架该活动吗？"
                confirm-button-text="确定"
                cancel-button-text="取消"
                @confirm="outAct(row.id)"
              >
                <el-button slot="reference" v-permission="'activity:list:down'" :disabled="row.state==2" type="danger" size="mini">下架</el-button>
              </el-popconfirm>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.page" :limit.sync="query.page_size" @pagination="search" />

    <el-dialog title="新增/编辑" :visible.sync="dialogVisible" :before-close="close" width="80%">
      <el-form ref="formData" label-position="right" :model="formData" label-width="120px" class="demo-ruleForm">
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="活动名称"
              prop="name"
              :rules="[
                { required: true, message: '请输入活动名称', trigger: 'blur' }
              ]"
            >
              <el-input v-model="formData.name" placeholder="请输入活动名称" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item
              label="活动规则"
              prop="rules_des"
              :rules="[
                { required: true, message: '请输入活动规则', trigger: 'blur' }
              ]"
            >
              <quillEditor ref="myQuillEditor" v-model="formData.rules_des" :options="editorOption" />
              <ImgUpload
                v-show="false"
                class="content-uploader"
                :picList="content_img"
                :uploadData="uploadData"
                :sign="sign.contentImg"
                :limit="limit"
                :picUrl="picUrl"
                :bucket="bucket"
                @setImg="setImg($event)"
              />
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item label="签到积分配置">
              <el-button type="primary" size="mini" icon="el-icon-plus" @click="addConf">添加</el-button>
              <el-button type="danger" size="mini" icon="el-icon-delete" @click="delPConf">批量删除</el-button>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="22">
            <el-table
              :data="formData.conf"
              style="width: 100%"
              border
              tooltip-effect="dark"
              @select="selectionChange"
              @select-all="selectAll"
            >
              <el-table-column type="selection"></el-table-column>
              <el-table-column label="顺序">
                <template slot-scope="{row}">
                    <el-tag>第{{ row.day }}天</el-tag>
                </template>
              </el-table-column>
              <el-table-column label="服务积分">
                <template slot-scope="scope">
                  <el-form-item :prop="'conf.'+scope.$index+'.point'" label-width="0"
                    :rules="[
                    { required: true, message: '服务积分不能为空',  trigger: 'blur'}
                    ]">
                    <el-input type="number"
                      v-model="scope.row.point"
                      size="mini"
                      maxlength="5"
                    ></el-input>
                  </el-form-item>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="{row}">
                  <el-button size="mini" type="danger" @click="delConf(row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>

        <el-form-item style="margin-top: 50px;">
          <el-button type="primary" @click="updateAct('formData')">确认提交</el-button>
          <el-button @click="close">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import * as activityApi from '@/api/activity/activity'
import Pagination from '@/components/Pagination'
import { quillEditor } from 'vue-quill-editor'
import { getUploadToken } from '@/api/upload/upload'
import ImgUpload from '@/components/ImgUpload'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import * as Quill from 'quill'

const toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'], // 加粗 斜体 下划线 删除线 -----['bold', 'italic', 'underline', 'strike']
  ['blockquote', 'code-block'], // 引用  代码块-----['blockquote', 'code-block']
  [{
    header: 1
  }, {
    header: 2
  }], // 1、2 级标题-----[{ header: 1 }, { header: 2 }]
  [{
    list: 'ordered'
  }, {
    list: 'bullet'
  }], // 有序、无序列表-----[{ list: 'ordered' }, { list: 'bullet' }]
  [{
    script: 'sub'
  }, {
    script: 'super'
  }], // 上标/下标-----[{ script: 'sub' }, { script: 'super' }]
  [{
    indent: '-1'
  }, {
    indent: '+1'
  }], // 缩进-----[{ indent: '-1' }, { indent: '+1' }]
  [{
    'direction': 'rtl'
  }], // 文本方向-----[{'direction': 'rtl'}]
  [{
    size: ['12px', '14px', '16px', '20px', '24px', '36px']
  }], // 字体大小-----[{ size: ['small', false, 'large', 'huge'] }]
  [{
    header: [1, 2, 3, 4, 5, 6, false]
  }], // 标题-----[{ header: [1, 2, 3, 4, 5, 6, false] }]
  [{
    color: []
  }, {
    background: []
  }], // 字体颜色、字体背景颜色-----[{ color: [] }, { background: [] }]
  [{
    font: []
  }], // 字体种类-----[{ font: [] }]
  [{
    align: []
  }], // 对齐方式-----[{ align: [] }]
  ['clean'], // 清除文本格式-----['clean']
  ['link', 'image', 'video'] // 链接、图片、视频-----['link', 'image', 'video']
]

export default {
  name: 'Activity',
  components: { Pagination, quillEditor, ImgUpload },
  data() {
    return {
      query: {
        title: '',
        page: 1,
        page_size: 20
      },
      loading: true,
      list: [],
      total: 0,

      dialogVisible: false,
      formData: {
        id: 0,
        name: '',
        rules_des: '',
        conf: [
          {day: 1, point: null}
        ]
      },
      content_img: [],
      willDeletedRules: [],

      // 七牛云上传
      sign: {
        contentImg: 'contentImg'
      },
      uploadData: {
        token: ''
      },
      picUrl: '',
      bucket: '',
      limit: 999,

      editorOption: {
        placeholder: '请输入文本...',
        theme: 'snow',
        modules: {
          toolbar: {
            container: toolbarOptions,
            handlers: {
              image: function(value) {
                if (value) {
                  // 触发element-ui的文件上传
                  document.querySelector('.content-uploader input').click()
                } else {
                  this.quill.format('image', false)
                }
              }
            }
          }
        }
      },
    }
  },
  created() {
    this.search()
  },
  mounted: function() {
    var fontSizeStyle = Quill.import('attributors/style/size')
    fontSizeStyle.whitelist = ['12px', '14px', '16px', '20px', '24px', '36px']
    Quill.register(fontSizeStyle, true)
    // 修改居中方式
    var Align = Quill.import('attributors/style/align')
    Align.whitelist = ['right', 'center', 'justify']
    Quill.register(Align, true)
  },
  methods: {
    search() {
      activityApi.search(this.query).then(response => {
        this.list = response.data.list
        this.total = response.data.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },

    addAct() {
      this.dialogVisible = true
      this.getUploadToken()
    },

    detail(act_id) {
      this.getUploadToken()
      activityApi.detail({id: act_id}).then(response => {
        if (response.code === 20000) {
          this.formData = response.data
          this.dialogVisible = true
        }
      }).catch(() => {})
    },

    updateAct(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          activityApi.update(this.formData).then(response => {
            if (response.code === 20000) {
              this.operationMsg('提交成功！', 'success')
              this.close()
              this.search()
            }
          }).catch(() => {})
        } else {
          return false
        }
      })
    },

    pubAct(act_id) {
      activityApi.publishAct({id: act_id}).then(response => {
        if (response.code === 20000) {
          this.operationMsg('上架成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    outAct(act_id) {
      activityApi.downAct({id: act_id}).then(response => {
        if (response.code === 20000) {
          this.operationMsg('下架成功！', 'success')
          this.search()
        }
      }).catch(() => {})
    },

    deleted(act_id) {
      this.$confirm('确认删除该活动吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        activityApi.del({ id: act_id }).then(response => {
          if (response.code === 20000) {
            this.operationMsg('删除成功！', 'success')
            this.search()
          }
        }).catch(() => {})
      }).catch(() => {})
    },

    addConf() {
      var len = this.formData.conf.length
      var item = {day: len+1, point: null}
      this.formData.conf.push(item)
    },

    delConf(row) {
      var index = this.formData.conf.indexOf(row);
      this.formData.conf.splice(index,1);
      this.resortConf()
    },

    delPConf() {
      this.willDeletedRules.forEach((item) => {
        var index = this.formData.conf.indexOf(item);
        this.formData.conf.splice(index,1);
      })
      this.resortConf()
    },

    resortConf() {
      this.formData.conf.forEach((item, index) => {
        item.day = index + 1
      })
    },

    // 上传token
    getUploadToken() {
      getUploadToken().then(response => {
        if (response.code === 20000) {
          this.uploadData.token = response.data.token
          this.picUrl = response.data.picUrl
          this.bucket = response.data.bucket
        }
      }).catch(() => {})
    },

    setImg(data) {
      if (data.sign === 'contentImg') {
        const quill = this.$refs.myQuillEditor.quill
        const length = quill.getSelection().index
        const imgSrc = data.imgList[0].url
        quill.insertEmbed(length, 'image', imgSrc)
        // 调整光标到最后
        quill.setSelection(length + 1)
      }
    },

    selectionChange(selection) {
      this.willDeletedRules = selection
    },

    selectAll(selection) {
      this.willDeletedRules = selection
    },

    queryReset() {
      this.query = {
        title: '',
        page: 1,
        page_size: 20
      }
    },

    close() {
      this.formData = {
        id: 0,
        name: '',
        rules_des: '',
        conf: [
          {day: 1, point: null}
        ]
      }
      this.dialogVisible = false
    },

    // 消息提示
    operationMsg(message, type) {
      this.$message({
        showClose: true,
        message: message,
        type: type
      })
    }
  }
}
</script>

<style>
  .a {
    color: #1890ff;
    text-decoration: underline;
  }
  .contentButton {
    margin-top: 20px;
    text-align: center;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .el-select {
    width: 100%;
  }
  .buttonrow {
    margin-top: 10px;
  }
  .newbuttondiv {
    margin-bottom: 20px;
  }
  .newbutton {
    margin-left: 20px;
  }
  .count {
    font-size: 15px;
    color: #304156;
    margin-top: 10px;
  }
  .status {
    font-weight: 600;
  }
  .publishstatus {
    color: #1890ff;
  }
  .outstatus {
    color: #e64242;
  }
  .inlive {
    color: #42b983;
  }
</style>
